<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <!-- 和logger节点功能差不多，打印具体类，或某包中的指定级别以上日志 <category name="common.TestLog4j"> 
    <priority value="warn"/> </category> -->
    <appender name="console" class="org.apache.log4j.ConsoleAppender">
        <!--param name="Threshold" value="INFO" 为打印logger 去掉Threshold参数配置 / -->
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %-5p %l %m%n" />
        </layout>
    </appender>

    <!-- 类似定义logger节点打印具体类，或某包中的指定级别以上日志 -->
    <logger name="org.apache.ibatis">
        <level value="DEBUG" />
    </logger>
    <logger name="com.opensymphony.xwork2.util.logging.commons.CommonsLogger">
        <level value="ERROR" />
    </logger>
    <logger name="java.sql">
        <level value="debug" />
    </logger>
    <logger name="cn.org.xmind" >
        <level value="DEBUG"></level>
    </logger>
    <logger name="org.springframework" >
        <level value="DEBUG"></level>
    </logger>

    <root>
        <!-- root 整体设置过滤优先级，如果appender 没有设置filter或Threshold 默认采用该级别，定义的logger不在其中（即不会被过滤掉）。 -->
        <priority value="ERROR" />
        <appender-ref ref="console" />
    </root>
</log4j:configuration>
